<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Promociones</title>
</head>
<body>
<main class="d-flex flex-column">
    <header class="p-4 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap aling-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="#" class="nav-link px-2 text-white">Cliente</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-white">Producto</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-white">Pago</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-white">Tarjeta</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-white">Promoción</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="Container pt-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-center">Registrar la promoción</h1>
            </div>
        </div>
        <form>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="row-6">
                        <div class="form-group col-md-6 m-3">
                            <label for="inputEmail4">Nombre</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Descripción del descuento">
                        </div>
                        <div class="form-group col-md-6 m-3">
                            <label for="inputPassword4">Valor</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Porcentaje del descuento">
                        </div>
                        <button type="submit" class="btn btn-success"> Entrar </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center">Lista de promociones</h1>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th>ID Transacciones</th>
                        <th>Nombre promoción</th>
                        <th>Descuento aplicado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>